<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;display=swap" rel="stylesheet">
    <link id="dynamic-favicon" rel="icon" type="image/x-icon" href="./img/gas.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="./js/main.js"></script>
    <script src="./js/settings.js"></script>
    <script src="./js/shortkey.js"></script>
    <script src="./js/cookies.js" async defe>
        cookieconsent();
    </script>    
    <script src="./js/home.js"></script>
    <script src="./js/cloak.js"></script>
    <meta name="description" content="warwarwarwarwarwar" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <meta name="google-site-verification" content="DrEILn1k0ldsT4IXAsUkFZSVJfZvIogS82T82tKWy8c" />
       <style>
           .title {
  font-size: 3em;
  color: var(--text);
  text-align: center;
  margin-top: 180px;
  font-weight: bold;
  margin-top: 10rem;
}
.message {
  text-align: center;
  color: var(--text);
  font-size: 1.5rem;
  margin: 1rem;
}
          .navbar {
        overflow: hidden;
        background-color: #29304d;
      }

      .navbar a {
        float: left;
        font-size: 15px;
        color: white;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
      }
       </style>
        <title id="dynamic-title">Hydrogen</title>
  </head>