<div class="navbar">
    <a href="./"><img class="shaking" width="40" height="40" src="./img/gas.png" /></a>
    <div class="navitems" style="gap: 5px; display: flex !important; justify-content: center; align-items: center;">
        <a href="./apps">Apps</a>
        <a href="./extras">Extras</a>
        <a href="./games">Games</a>
        <a href="./faq">FAQ</a>
        <a href="./settings">Settings</a>
    </div>
</div>